
body{
  background-color: #dddddd;
}
.container-fluid{
  padding:0;
}

/* NavBar */
.bg-dark {
  background-color: #000000 !important;
}

.navbar-dark .navbar-brand {
  font-family:cursive;
  font-size: 2em;
  font-weight: bolder;
  color: #ff5722;
  margin-right: 100px;
  padding: 30px 0;
  height:120px;
}

.navbar-dark .navbar-brand:hover{
  text-decoration: none;
  color:#cdb30c;
}
.form-inline{
  width:300px;
}

/* NavBar */

#title{
  background-color: #00b7c2;

}
.ButtDiv{
  padding:5% 15%;
}

.Ti{
position: relative;
width:70%;
height:70%;
margin: 10% 15%;
}

.Tid{

}
.Th1{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3.5%;
  font-family:'Montserrat''sans-serif';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width:992px){

  .Th1{
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .ButtDiv{
    display: flex;
    justify-content: center;
  }
}


/* Features */

#features{
  background-color: #dddddd;
  font-family:'Ubuntu';
  text-align: center;
  padding:100px 100px;
}

.fd1{
  display: inline-block;
  width: 33%;
  margin:10% 0;
}
.fd2{
  display: inline-block;
  width: 33%;
  margin:10% 0;
}
.fd3{
  display: inline-block;
  width: 33%;
  margin:10% 0;
}
.fp{
  font-family: Montserrat;
  font-weight: lighter;
  color:#0f4c75;
  margin-top:30px;
}
.icon1{
  color:#000000;
  margin-bottom: 20px;
}
.icon1:hover{
  color:#e7305b;
}

/* Testimonials */

#testimonials{
padding:7% 15%;
text-align: center;
background-color:#cdb30c;
}
.Teh2{
  font-size: 20px;
  margin:50px 50px;
  font-family: Ubuntu;
}

em{
  font-size: 20px;
  display: block;
  }

/* Press */

#press{
  background-color:#cdb30c;
  text-align: center;
  padding-bottom: 3%;
}
.Presslogo{
  width:15%;
  margin:20px 20px;
}
.w-100 {
  width: 60% !important;
  height: 60%;
  margin:30px auto;
  border-radius: 50%;
  display: block;
  }

  .Pricingdiv{
    background-color: #81b214;
    padding:40px;
    text-align: center;
  }



/*------------------------ Pricing Custom CSS Starts -------------------*/

.bg-gradient {
background: #000000;

}
ul li {
  margin-bottom:1.4rem;
}
.pricing-divider {
border-radius: 20px;
background: #C64545;
padding: 1em 0 4em;
position: relative;
}
.blue .pricing-divider{
background: #2D5772;
}
.green .pricing-divider {
background: #1AA85C;
}
.red b {
  color:#C64545
}
.blue b {
  color:#2D5772
}
.green b {
  color:#1AA85C
}
.pricing-divider-img {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 80px;
}
.deco-layer {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.btn-custom  {
  background:#C64545; color:#fff; border-radius:20px
}

.img-float {
  width:50px; position:absolute;top:-3.5rem;right:1rem
}

.princing-item {
  transition: all 150ms ease-out;
}
.princing-item:hover {
  transform: scale(1.05);
}
.princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.pricing-column{
  padding:5% 3%;
}
/*----------------- Pricing Ends ------------------- */

#footer{
  margin:20px 0;
  text-align:center;

}
#cta{
  margin:20px 0;
  text-align:center;

}
